<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<title>chatbot</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	<h1>ChatBot</h1>
	
    <div style="width: 100%;">
    <div style="max-width: 28em; width: 50%; height: 100px; float: left;">
        <div id="encodingTypeSelect">
        <h4 id="wav">Waveform Audio (.wav)</h4>
        <!-- <option value="mp3">MP3 (MPEG-1 Audio Layer III) (.mp3)</option>
        <option value="ogg">Ogg Vorbis (.ogg)</option> -->
        </div>
        
        <div id="controls" name = 'control_audio'>
            <button id="recordButton">Record <i class="bi bi-mic-fill"></i></button>
            <button id="stopButton" disabled>Stop</button>
              <span style="color: brown; "><svg xmlns="http://www.w3.org/2000/svg" id="micIcon" width="16" height="16" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
                <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
                <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
              </svg></span>
        </div>
        <div id="formats"></div>
       
    </div>
    <div style="max-width: 28em; margin-left: 50%; height: 100px;">
        <div id = "output">
            <h3 id="reply-msg"></h3>
        </div>
        
    </div>
</div>
<br/>
<br/>
    <div style = "max-width: 28em;" type="hidden">
    </div>

       
	<!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
	<script src="{{url_for('static', filename='js/WebAudioRecorder.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/app.js')}}"></script>
    <!-- <script src="{{url_for('static', filename='js/audio_to_text.js')}}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>